* {box-sizing: border-box;}

body {
  font-family: "Roboto";
}

.slide-content {
  height: 586px;
  background: #17A2B8;
}

.slide-content-child {
  width: 75%;
  height: 100%;
  margin: auto;
}

.highlight-content div:first-child {
  color: #FFF;
  font-size: 37px;
  font-weight: 500;
  line-height: 48px; 
}

.highlight-content div:nth-child(2) {
  color: rgba(255, 255, 255, 0.50);
  font-size: 14.5px;
  font-weight: 400;
  line-height: 24px; 
  margin-top: 0.3rem; 
  margin-bottom: 1.5rem
}

.highlight-content button {
  color: #212529;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding: 7px 22px;
  margin-right: 1rem
}

.highlight-content button:nth-child(3) {
  margin-right: 1rem;
}

.slide-girl {
  height: 100%;
}

.slide-girl img {
  height: 100%;
}

.course-item {
  width: 75%;
  height: 425px;
  margin: auto;
}

.course-item-header {
  color: #212529;
  font-size: 29px;
  font-weight: 500;
  line-height: 38px; 
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.course-card {
  width: 23%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.course-card-image {
  width: 100%;
  height: 45%;
  border-radius: 4px 4px 0px 0px;
}

.course-card-body {
  padding: 0.8rem 0.8rem 0;
}

.card-body-intro {
  color: #007BFF;
  font-size: 16px;
  font-weight: 500;
}

.card-body-time {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
  margin-top: 0.3rem;
}

.card-body-price {
  color: #343A40;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px; 
  margin: 1rem 0;

}

.card-body-price span {
  color: #6C757D;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: line-through;
}

.course-card-footer {
  border-top: 0.8px solid rgba(0, 0, 0, 0.13);
  padding: 0.3rem 0.6rem 0.2rem;
  background: rgba(0, 0, 0, 0.03);
}

.course-card-footer img {
  width: 15%;
  border-radius: 50%;
}

.course-card-footer span {
  color: #212529;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  margin-left: -4.5rem;
}

.footer {
  width: 75%;
  margin: -1.5rem auto 0;
}

.footer span:first-child {
  color: #212529;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; 
}

.footer-nav {
  width: 33%;
}